[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "3.0.3"

[packages]
argparse = "3.12.2"
networkx = "3.2.1"
numpy = "1.26.4"
scipy = "1.12.0"

[requires]
python_version = "3"
